.btn-group-vertical {

  .btn {

    margin-bottom: 10px;
    border-radius: inherit;

  }

  // If displaying btn-block, it may be necessary to make the containing element
  // span full width - btn-group normally displays inline-block, which is just
  // for the widest contained element. When adding `btn-block` class to the
  // button element, add the `full-width` class to the btn-group container.
  // ---------------------------------------------------------------------------

  &.full-width {

    display: block;

  }

}

// Make the button group standalone, looks better if they are separated by a margin
// -----------------------------------------------------------------------------
.carawebs-social-buttons.btn-group > .btn,
.carawebs-social-buttons.btn-group.btn-group-vertical > .btn {
  &:not(:first-child):not(:last-child) {
    border-radius: $btn-border-radius-base;
  }
  &:first-child:not(:last-child) {
    @include border-top-radius($btn-border-radius-base);
    @include border-bottom-radius($btn-border-radius-base);
  }
  &:last-child:not(:first-child) {
    @include border-top-radius($btn-border-radius-base);
    @include border-bottom-radius($btn-border-radius-base);
  }

}

.light-text,
.navbar-inverse {

  .btn-default {

    background: transparent;
    color: #fff;

  }

}

.navbar-inverse {

  .btn {

    margin: 7px 0 0 20px;
    background: transparent;
    border-color: #fff;
    line-height: 22px;

  }

}

.ghost.btn-default {

	background: transparent;
	border: solid 1px #fff;
	transition: all 0.5s;

	&:hover,
	&:active,
	&:focus {

		background: $brand-blue-grey;
		color: #fff;

	}

}

.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 0;
}

.justified-container {

	margin-left: -5px;
	margin-right: -5px;

	.btn-group-justified {

		border-spacing: 5px;

	}

}

.intro .justified-container {

	.nonclick-phone {

		display: inline-block;

	}

	margin-left: -20px;
	margin-right: -20px;

	.btn-group-justified {

		border-spacing: 20px;

	}

}

.btn-default {

	background: transparent;
	border: solid 1px $text-color;
	transition: all 0.5s;
  line-height: 30px;

	&:hover,
	&:active,
	&:focus {

		background: $brand-blue-grey;
		color: #fff;

	}

}
