// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
//$brand-primary:         #27ae60;

$light-opaque-background:      rgba(255,255,255,0.5);

//Set this value to true if the intro section requires more padding due to a wide header.
$header-wide: true;

// Set to either light or dark
$theme: light;

// Set to either true or false
$navbar-shrink: true;

// Colors
// You can set colours in hex format - e.g. #121212, or rgb format - e.g. rgb(18,18,18)
// -----------------------------------------------------------------------------

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

// Custom Colours
// -----------------------------------------------------------------------------
$brand-primary:         #070028;
$brand-secondary:       rgb(41, 48, 62);
$brand-primary-muted:   desaturate($brand-primary, 80%);
$brand-orange:          rgb(240, 65, 9);
$brand-blue-grey:       rgb(33, 54, 66);
$dark-brand-primary:    rgb(152, 78, 9);
$brand-opaque:          rgba($brand-primary, 0.4);
$brand-tint:            rgb(116,125,125);
$brand-button:          rgb(124, 11, 11);
$brand-super-dark:      rgb(34,34,34);
$brand-green:           rgb(50, 153, 0);
$light-blue:            rgb(184, 203, 252);
$light-grey:            rgb(217, 211, 211);
$dark-grey:             #746767;
$grey:                  $gray;

// Settings for some of the most global styles
// -----------------------------------------------------------------------------

$body-bg:           #fff;//#edecf7  !default;        // Background colour, body element
$text-color:        $gray-dark !default;  // Text colour
$link-color:        $brand-primary;       // Link colour
$link-hover-color:  darken($link-color, 15%) !default;

// Element Colours
// -----------------------------------------------------------------------------

// Emphasis
$emphasis-colour:          #fff;
$emphasis-background:      $brand-blue-grey;//$brand-primary-muted;

// Frontpage
$intro-background:         #fff;

// About page first section
$about-intro-background:   $brand-primary-muted;
$about-intro-foreground:   #fff;

$intro-colour:             $dark-grey;
$phone-button-bg:          #0075ff;//$brand-orange;//#de0000 ;
$footer-colour:            #fff;

// Blockquotes
$blockquote-bg:            lighten( $light-grey, 20%);  // Blockquote Background
$blockquote-fg:            $dark-grey;                  // Blockquote Foreground

// Navbar
$navbar-colour:              #fff;
$navbar-inverse-bg:          $brand-blue-grey;
$navbar-background-alt:      $navbar-inverse-bg;
$navbar-opaque-bg:           rgba( $navbar-inverse-bg, 0.5 );
$navbar-dropdown-opaque-bg:  rgba(0, 0, 0, 0.1);
$navbar-hover-colour:        $navbar-dropdown-opaque-bg;
$navbar-focus-bg:            $navbar-dropdown-opaque-bg;
$dropdown-link-hover-bg:     $navbar-inverse-bg;


$jumbotron-background:       rgba(11, 43, 92, 0.83);
$footer-background:          $brand-blue-grey;
$intro-well-background:      rgba( 0, 0, 0, 0.75);    // Intro box on `full-width-1`
$main-text-colour:           $dark-grey;

//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
//$grid-gutter-width:         60px !default;



// Fonts & Padding
// -----------------------------------------------------------------------------
$font-size-base:          18px;
$vertical-padding-intro:  400px;
$vertical-padding-half:   10px;
$vertical-padding:        20px;
$vertical-padding-2x:     40px;
$vertical-padding-3x:     60px;
$vertical-padding-4x:     80px;
$vertical-margin:         30px;

// Set fonts for the site
// -----------------------------------------------------------------------------
$font-family-sans-serif:  "Hind", Helvetica, Arial, sans-serif;
$font-family-serif:       "Montserrat", "Times New Roman", Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-cursive:     Condiment, serif;

// Set the main font for the site
// -----------------------------------------------------------------------------
$font-family-base:        $font-family-sans-serif;

$jumbotron-font-size: 24px;

// Border radius
// -----------------------------------------------------------------------------
$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;

$line-height-large:       1.33;
$line-height-small:       1.5;

$font-size-large:         ceil($font-size-base * 1.75); // ~18px
$font-size-small:         ceil($font-size-base * 0.85); // ~12px

$font-size-h1:            floor($font-size-base * 2.6); // ~36px
$font-size-h2:            floor($font-size-base * 2.15); // ~30px
$font-size-h3:            ceil($font-size-base * 1.7); // ~24px
$font-size-h4:            ceil($font-size-base * 1.25); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil($font-size-base * 0.85); // ~12px

$line-height-base:        1.428571429; // 20/14
$line-height-computed:    floor($font-size-base * $line-height-base); // ~20px

$headings-font-family:    $font-family-serif;
$headings-font-weight:    500;
$headings-line-height:    1.1;
$headings-color:          inherit;
